<section class="page_banner shop_banner" style="background-image: url(/assets/images/bg/b3.jpg); margin-top: 120px;">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12 text-left">
                <p class="breadcrumbs">
                    <a href="/"><i class="twi-home"></i>Trang chủ</a><i class="twi-angle-right"></i>Về NTA Farm
                </p>
            </div>
        </div>
    </div>
</section>

<section class="singleProduct aboutus">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <h4>CÁC GIẢI PHÁP & DỊCH VỤ - NĂNG LỰC TRIỂN KHAI</h4>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <p>Từ bao lâu nay nhu cầu về rau, củ, quả luôn là thực phẩm cần thiết hằng ngày cho các bữa ăn, đặt biệt rau, củ, quả sạch luôn là mối
quan tâm hàng đầu của các bà nội trợ. Chính vì hiểu được sự quan tâm của khách hàng về chất lượng của rau, củ, quả loại thực phẩm
sử dụng hàng ngày này mà NTA Farm đã ra đời chuyên cho thuê nhà vườn, dịch vụ chăm sóc vườn công nghệ cao & cung cấp các loại
rau, củ, quả sạch, nhằm giúp cho hàng triệu bữa ăn mỗi ngày yên tâm về chất lượng rau, củ, quả sạch giúp bữa ăn trở nên ngon và thật
nhiều giá trị dinh dưỡng. <br />
Cùng với chuyên môn và kinh nghiệm thực tế, Nông trại NTA Farm đã hợp tác và phát triển với trên 300 khách hàng lớn nhỏ. Hiểu rõ
các yếu tố thị trường, nắm chắc đặc tính nổi bật sản phẩm là những yếu tố giúp NTA Farm thành công khi triển khai dịch vụ & cung cấp
sản phẩm cho các khách hàng</p>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-6">
                @HtmlHelperExtension.Img("/images/logo_large1.png", "", "", "width: 100%")
            </div>
            <div class="col-lg-6">
                <h5>NÔNG TRẠI XANH NTA FARM</h5>
                <p>
                    Với 4 năm kinh nghiệm trong lĩnh vực ĐẦU TƯ & SẢN
                    XUẤT NÔNG NGHIỆP với đội ngũ kỹ sư có bề dày kinh
                    nghiệm cao NTA FARM là đơn vị uy tín đầu ngành, tiên
                    phong trong lĩnh vực NÔNG TRẠI CÔNG NGHỆ CAO cho
                    doanh nghiệp, cá nhân muốn sử dụng các dịch vụ, sản
                    phẩm rau củ xanh, sạch, an toàn
                    Thế mạnh của NTA FARM là mọi dịch vụ liên quan đến
                    NÔNG NGHIỆP bao gồm:
                    <ul>
                        <li>Trồng trọt</li>
                        <li>Chăn nuôi</li>
                        <li>Xuất khẩu nông sản</li>
                        <li>Cho thuê & chăm sóc vườn</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <h5>TẦM NHÌN</h5>
                <p>
                    NTA FARM định hướng phát triển trở thành doanh nghiệp
                    cung cấp dịch vụ cho thuê nhà vườn & sản xuất nông nghiệp
                    hàng đầu khu vực Tây Nguyên. Chúng tôi không ngừng sáng
                    tạo để dẫn đầu xu hướng, ứng dụng công nghệ cao và bứt
                    phá sáng tạo.
                </p>
                <h5>SỨ MỆNH</h5>
                <p>
                    NTA FARM được thành lập với sứ mệnh tiếp sức cung cấp
                    các thực phẩm xanh, an toàn đến với mọi khách hàng, trải
                    nghiệm thực tế mô hình sản xuất công nghệ cao
                </p>
                <h5>GIÁ TRỊ CỐT LÕI</h5>
                <p>
                    NTA FARM cam kết mang tới những chiến lược kinh
                    doanh tối ưu nhất cho doanh nghiệp, cá nhân bằng sự
                    chuyên nghiệp, tận tâm, dám đột phá sáng tạo, không
                    ngừng đổi mới.
                </p>
            </div>
            @* <div class="col-lg-6">
                @HtmlHelperExtension.Img("/images/doi_ngu.webp", "", "", "width: 100%")
            </div> *@
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <h5>Giải pháp & Dịch vụ</h5>
                @HtmlHelperExtension.Img("/images/giai_phap.webp", "", "", "width: 100%")
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        @* <div class="row mt-40">
            <div class="col-lg-12">
                <h5>Các chứng nhận</h5>
                @HtmlHelperExtension.Img("/images/chung_nhan.webp", "", "", "width: 100%")
            </div>
        </div> *@
        <div class="row mt-40">
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12" style="text-align: center">
                <h4>Năng lực triển khai</h4>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <h5>Trồng trọt</h5>
                <p>
                    NTA FARM đã triển khai trồng trọt & sản xuất các loại rau củ phổ biến & được ưu chuộng hiện nay tại Việt Nam, đa dạng các loại rau củ
                    từ miền nhiệt đới đến ôn đới đều được hội tụ tại NTA FARM
                </p>
                @HtmlHelperExtension.Img("/images/rau.webp", "", "", "width: 100%")
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <h5>Chăn nuôi</h5>
                @HtmlHelperExtension.Img("/images/chan_nuoi_1.webp", "", "", "width: 100%")
                <p>
                    Dự kiến thời gian tới NTA FARM sẽ triển khai thêm mảng chăn nuôi gia súc, gia cầm số lượng lớn. Áp dụng các quy trình
                    chăn nuôi công nghệ cao để tối ưu hóa năng suất & đảm bảo chất lượng
                </p>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <h5>Xuất khẩu</h5>
                <p>
                    NTA FARM hiện đang cung cấp nông sản chủ yếu cho khu vực miền Bắc Việt Nam, dự kiến sắp tới đẩy mạnh cung cấp nông sản cho
khu vực miền Nam & hướng tới xuất khẩu nông sản sang Trung Quốc & các nước châu Á khác
                </p>
                @HtmlHelperExtension.Img("/images/rau_cu.webp", "", "", "width: 100%")
            </div>
        </div>
    </div>
</section>