@using RauSach.Web.Helpers

@section Preloading {
    <div class="preloader clock text-center">
        <div class="organiaLoader">
            <div class="loaderO">
                <span>N</span>
                <span>T</span>
                <span>A</span>
                <span>&nbsp;</span>
                <span>F</span>
                <span>A</span>
                <span>R</span>
                <span>M</span>
            </div>
        </div>
    </div>
}
    <!-- Begin:: Slider Section -->
    <section class="slider_01">
    <div class="icon_box_03">
        <i class="twi-headphones-alt"></i>
        <a href="tel:0775122681">
            <p>0775 122 681</p>
        </a>
        <a href="tel:0987533553">
            <p style="padding-top: 8px;">0987 533 553</p>
        </a>
        </div>
        <div class="rev_slider_wrapper">
            <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <li data-index="rs-3046" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <img src="~/assets/images/slider/11.webp" alt="Organia" 
                            data-bgposition="center center" 
                            data-bgfit="cover" 
                            data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption headFont ws_nowrap"
                         data-x="['center']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['-75','-75','-105','-145']"
                         data-fontsize="['20','20','20','20']"
                         data-fontweight="500"
                         data-lineheight="['30']"
                         data-letterspacing=".4"
                         data-width="['500','500','100%', '100%']"
                         data-height="['auto']"
                         data-whitesapce="normal"
                         data-color="['#62a403']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,25]">
                            100% Hữu cơ
                        </div>
                        <div class="tp-caption headFont ws_nowrap"
                         data-x="['center']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['35','35','25','-40']"
                         data-fontsize="['60','55','50','32']"
                         data-fontweight="['800']"
                         data-lineheight="['83','75','65','48']"
                         data-letterspacing="['-2.4','-2.4','-1.4','-1']"
                         data-width="['770','700','600','100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1900,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,25]">
                            Vườn và rau hữu cơ<br /><span class="prcolor">Sức khoẻ của bạn</span>
                        </div>
                        <div class="tp-caption headFont tp-resizeme"
                         data-x="['center']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['185','185','190','90']"
                         data-fontsize="['17']"
                         data-fontweight="800"
                         data-lineheight=".8"
                         data-width="['100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2300,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                            <a href="@FriendlyUrl.Shop()" class="organ_btn">Chọn vườn ngay<i class="twi-arrow-right1"></i></a>
                        </div>
                    </li>
                    <li data-index="rs-3047" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <img src="~/assets/images/slider/1_1.jpg" alt="Organia" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption headFont ws_nowrap"
                         data-x="['center']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['-75','-75','-105','-145']"
                         data-fontsize="['20','20','20','20']"
                         data-fontweight="500"
                         data-lineheight="['30']"
                         data-letterspacing=".4"
                         data-width="['500','500','100%', '100%']"
                         data-height="['auto']"
                         data-whitesapce="normal"
                         data-color="['#62a403']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,25]">
                            100% thiên nhiên
                        </div>
                        <div class="tp-caption headFont ws_nowrap"
                         data-x="['center']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['35','35','25','-40']"
                         data-fontsize="['60','55','50','32']"
                         data-fontweight="['800']"
                         data-lineheight="['83','75','65','48']"
                         data-letterspacing="['-2.4','-2.4','-1.4','-1']"
                         data-width="['770','700','600','100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1900,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,25]">
                            Tạo khu vườn của riêng <span class="prcolor">bạn</span>
                        </div>
                        <div class="tp-caption headFont tp-resizeme"
                         data-x="['center']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['185','185','190','90']"
                         data-fontsize="['17']"
                         data-fontweight="800"
                         data-lineheight=".8"
                         data-width="['100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2300,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"power3.out"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                            <a href="@FriendlyUrl.Shop()" class="organ_btn">Chọn vườn ngay<i class="twi-arrow-right1"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End:: Slider Section -->
    <!-- Services Start -->
    <section class="serviceSection01">
        <div class="container largeContainer">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="icon_box_01">
                        <i class="icon-truck"></i>
                        <h3>Vận chuyển rau</h3>
                        <p>Tuỳ chọn ngày giao</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="icon_box_01">
                        <i class="icon-phone-call"></i>
                        <h3>Chăm sóc vườn rau</h3>
                        <p>Theo dõi 24/24 qua camera</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="icon_box_01">
                        <i class="icon-envelope"></i>
                        <h3>Đội ngũ</h3>
                        <p>Giàu kinh nghiệm và trình độ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!-- About Start -->
    <section class="aboutSection01">
        <div class="container largeContainer">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="abThumb move_anim">
                        @HtmlHelperExtension.Img("/assets/images/bg/7.webp", "rau củ", "abbg")
                        @HtmlHelperExtension.Img("/assets/images/home1/1.webp", "rau củ")
                </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="ab_content_01">
                        <div class="subTitle">Về NTA Farm</div>
                        <h2 class="secTitle">Vườn rau của mọi nhà</h2>
                        <p class="secDesc">
                            Với 4 năm kinh nghiệm trong lĩnh vực ĐẦU TƯ & SẢN
                            XUẤT NÔNG NGHIỆP với đội ngũ kỹ sư có bề dày kinh
                            nghiệm cao NTA FARM là đơn vị uy tín đầu ngành, tiên
                            phong trong lĩnh vực NÔNG TRẠI CÔNG NGHỆ CAO cho
                            doanh nghiệp, cá nhân muốn sử dụng các dịch vụ, sản
                            phẩm rau củ xanh, sạch, an toàn.
                        </p>
                        <div class="icon_box_02">
                            <div class="ibImg">
                            @HtmlHelperExtension.Img("/assets/images/home1/i1.png", "Dịch vụ liên quan đến nông nghiệp")
                            </div>
                            <h3>Dịch vụ liên quan đến nông nghiệp</h3>
                            <p>Trồng trọt, chăn nuôi, xuất khẩu nông sản, cho thuê & chăm sóc vườn.</p>
                        </div>
                        <div class="icon_box_02">
                            <div class="ibImg">
                            @HtmlHelperExtension.Img("/assets/images/home1/i2.png", "Hợp tác và phát triển")
                            </div>
                            <h3>Hợp tác và phát triển </h3>
                            <p>Nông trại NTA Farm đã hợp tác và phát triển với trên 300 khách hàng lớn nhỏ.</p>
                        </div>
                        <a href="@FriendlyUrl.AboutUs()" class="organ_btn">Xem thêm<i class="twi-arrow-right1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->
    <!-- Category Start -->
    <section class="categpruSection01">
        <div class="SecLayerimg move_anim">
            <img src="~/assets/images/bg/s1.png" alt="">
        </div>
        <div class="container largeContainer">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="subTitle">Thế mạnh của chúng tôi</div>
                    <h2 class="secTitle">Dịch vụ</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cateSlider owl-carousel">
                        <div class="cateItem odd">
                            <div class="cateImage bkg-transparent">
                            @HtmlHelperExtension.Img("/images/trong_trot.webp", "trồng trọt")
                        </div>
                            <span class="cate">Trồng trọt</span>
                        </div>
                        <div class="cateItem even">
                            <div class="cateImage bkg-transparent">
                            @HtmlHelperExtension.Img("/images/chan_nuoi.webp", "chăn nuôi")
                        </div>
                            <span class="cate">Chăn nuôi</span>
                        </div>
                        <div class="cateItem odd">
                            <div class="cateImage bkg-transparent">
                            @HtmlHelperExtension.Img("/images/xuat_khau.webp", "xuất khẩu")
                        </div>
                            <span class="cate">Xuất khẩu</span>
                        </div>
                        <div class="cateItem even">
                            <div class="cateImage bkg-transparent">
                            @HtmlHelperExtension.Img("/images/thue_vuon.webp", "chọn vườn")
                        </div>
                            <span class="cate">Chọn vườn</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category End -->
    <!-- Product Start -->
    @await Component.InvokeAsync("GardenList")
    <!-- Product End -->
    <!-- Testimonial Start -->
    <partial name="_CustomerOpinion"></partial>
    <!-- Testimonial End -->
    <!-- Blog Start -->
    @await Component.InvokeAsync("LatestArticles")
    <!-- Blog End -->
    @section Scripts {
        <script>
        $(document).ready(function(){
            var w = window.innerWidth;
            var h = window.innerHeight;
            var minHSlider = '810';
            if(w <= 768)
            {
                $("#rev_slider_1 img").attr("data-bgfit", "contain");
                minHSlider = '500';
                $(".slider_01").css('height', '500px');
                $(".slider_01 .icon_box_03").css('bottom', '1px');
                if(w > 480)
                {
                    $(".slider_01 .icon_box_03").css('padding', '24px 26px 29px 103px');
                    $(".slider_01 .icon_box_03 i").css('left', '25px');
                }
            }

            var revapi = jQuery('#rev_slider_1').show().revolution({
                delay: 6000,
                responsiveLevels: [1200, 1140, 778, 480],
                gridwidth: [1140, 920, 700, 380],
                jsFileLocation: "js/",
                sliderLayout: "auto",
                minHeight: minHSlider,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    arrows: {
                        style: "custom",
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 125,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 125,
                            v_offset: 0
                        }
                    },
                    bullets: {
                        enable: false
                    }
                },
            });
        });
        
        </script>
}
