@model ManageUserViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

    @Html.AntiForgeryToken()
    <section class="contactInfoSec">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="contact_form col-md-6 margin-auto">
                        <h2>Đổi mật khẩu</h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("ChangePassword", "account", FormMethod.Post, new { role = "form" }))
                        {
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.OldPassword)
                                @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.NewPassword)
                                @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="organ_btn">Lưu</button>
                                <div class="con_message"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>